<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Por País</h2>
    <hr />
    
    <div class="row">
        <div class="col">
           <app-pais-input 
                (onEnter)="buscar($event)"
                (onDebounce)="sugerencias($event)"
                placeholder="Buscar país..."></app-pais-input>
        </div>
    </div>

    <ul *ngIf="mostrarSugerencias" class="list-group">
        <li *ngFor="let pais of paisesSugeridos" class="list-group-item list-group-item-action">
            <a class="nav-link" [routerLink]="['/pais', pais.altSpellings[0]]">
                {{ pais.name.common }}
            </a>
        </li>
        <li
            (click)="buscar(termino)"
            class="list-group-item list-group-item-action">
            <a class="nav-link">
                Buscar "{{ termino }}"
            </a>
        </li>
    </ul>
</div>


<hr />
<div class="alert alert-danger"
    *ngIf="hayError">
    No se encotró nada con el término {{ termino }}
</div>

<div class="row" *ngIf="paises.length > 0">
    <div class="col">
        <!-- [paises] es la propiedad @Input paises del componente hijo (app-pais-tabla)
            y lo que está en ="paises" es la propiedad del componente padre(app-por-pais) desde donde se está obteniendo el valor -->
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>