<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Por Capital</h2>
    <hr />
    
    <div class="row">
        <div class="col">
           <app-pais-input 
                (onEnter)="buscar($event)"
                placeholder="Buscar capital..."></app-pais-input>
        </div>
    </div>
</div>

<hr />
<div class="alert alert-danger"
    *ngIf="hayError">
    No se encotró nada con el término {{ termino }}
</div>

<div class="row" *ngIf="paises.length > 0">
    <div class="col">
        <!-- [paises] es la propiedad @Input paises del componente hijo (app-pais-tabla)
            y lo que está en ="paises" es la propiedad del componente padre(app-por-pais) desde donde se está obteniendo el valor -->
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>