<table>
    <thead>
        <tr>
            <th> # </th>
            <th> Bandera </th>
            <th> Nombre </th>
            <th> Población </th>
            <th> Acción </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises; let indice = index;" class="table table-hover animate__animated animate__fadeIn animate__faster">
            <td>{{ indice + 1 }}</td>
            <td>
                <img class="small-flag" [src]="pais.flags.png" />
            </td>
            <td>{{ pais.capital }}, {{ pais.name.common }}</td>
            <td>{{ pais.population | number }}</td>
            <td>
                <a [routerLink]="['/pais', pais.altSpellings[0]]" >Ver...</a>
            </td>
        </tr>
    </tbody>
</table>